.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1000;
}

@media (max-width: 40rem) {
  .modal {
    padding: 2rem calc(2rem + 15px) 2rem 2rem;
  }
}

.form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 8%;
}

.form form {
  background: #fff;
  width: 50vw;

}

.close{
  position: absolute;
  right: 10px;
  top: 10px;
  background: var(--color-red);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  
}

.close:hover {
  scale: 1.1;
  transition: 0.3s;
}
