.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.nav div {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #191E21;
  font-weight: 600;
}

.nav div a:nth-child(2){
  margin-left: 15px;
}

.nav div a::after {
  content: ' ';
  border-bottom: 2px solid #191E21;
  display: block;
  width: 15px;
  margin-top: 2px;
  transition: 0.2s;
}

.nav div a:hover::after {
  border-bottom: 2px solid var(--color-blue);
  width: 45px;
  transition: 0.3s;
}

.nav img {
  max-width: 40px;
}

.nav svg {
  margin-right: 10px;
}